## details here: https://github.com/h5bp/server-configs-apache



## SECURITY ###################################################################

DirectoryIndex disabled
FileETag None
ServerSignature Off

# Requires Apache 2.4 with mod_authz_core (loaded by default).
# Setups without it fail closed on this directive.
Require all denied

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header unset ETag
    Header unset X-Powered-By
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>



## COMPAT #####################################################################

AddDefaultCharset utf-8

<IfModule mod_mime.c>
    AddCharset utf-8 .css .html .js .json .php .svg

    AddType application/json                            json
    AddType application/javascript                      js
    AddType font/woff2                                  woff2
    AddType image/jpeg                                  jpeg jpg
    AddType image/png                                   png
    AddType image/svg+xml                               svg svgz
    AddType image/x-icon                                ico
    AddType text/css                                    css
    AddType text/html                                   html
</IfModule>



## SPEED ######################################################################

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

    ExpiresByType application/json                      "access plus 0 seconds"

    ExpiresByType text/html                             "access plus 1 minute"

    ExpiresByType image/x-icon                          "access plus 1 week"

    ExpiresByType application/javascript                "access plus 1 year"
    ExpiresByType font/woff2                            "access plus 1 year"
    ExpiresByType image/jpeg                            "access plus 1 year"
    ExpiresByType image/png                             "access plus 1 year"
    ExpiresByType image/svg+xml                         "access plus 1 year"
    ExpiresByType text/css                              "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/javascript" \
                                      "application/json" \
                                      "application/manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "image/svg+xml" \
                                      "image/x-icon" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vtt" \
                                      "text/xml"
    </IfModule>

    <IfModule mod_mime.c>
        AddEncoding gzip              gz
        AddEncoding gzip              svgz
    </IfModule>
</IfModule>
